.scoreboard img {
  width: 80px;
}
.scoreboard .innerwraper {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  /* justify-content: space-around; */
}
.scoreboard .innerwraper div {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
.scoreboard .innerwraper h5 {
  font-size: 15px;
}

.levelNum {
  font-size: 45px;
  margin-bottom: 30px;
  /* color: rgb(255, 0, 187); */
}
.rankName {
  color: rgb(0, 187, 255);
  /* text-shadow: 0 0 5px black; */
}
.scoreboard .arrowRight {
  width: 40px;
  /* z-index: 500;
  background-color: white;
  float: right;
  position: absolute;
  bottom: 4rem;
  right: 5px; */
  float: right;
  margin-right: 10%;
}
.scoreboard .arrowLeft{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 40px;
  float: left;
  margin-left: 10%;

}
.scoreboard .arrowLeft:hover {
  box-shadow: 0 0 5px rgb(213, 22, 22);
  border-radius: 50%;
}
.scoreboard .arrowRight:hover {
  box-shadow: 0 0 5px rgb(213, 22, 22);
  border-radius: 50%;
}
.levelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.topContent {
  margin-left: 15px;
  /* text-align: center; */
}
.testContainer .btn {
  margin: 10px 0px 0px 20px;

}

.exam-list {
  font-size: 2rem;
}
.user-app {
  height: 100vh;
}

.user-app .show a {
  width: 95%;
}
.catagory-list li,
a {
  width: 100%;
}
.catagory-list {
  display: flex;
  height: 43%;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-direction: column;
}
.user-app .show {
  display: flex;
  height: 57%;
  justify-content: center;
  align-items: center;
}
.exam-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.user-header .left h1 {
  font-size: 37px;
  white-space: nowrap;
}
.user-header .right span {
  font-size: 16px;
}

.user-header .right img {
  width: 2rem;
  height: 2rem;
}
.user-header .right {
  min-width: 5rem;
}
.user-header .left {
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}
.user-header {
  justify-content: space-between;
  height: 19%;
}
/* .app::has(.scoreboard) {
  height: 100vh;
  background-color: red;
} */
.answer_form .controls {
  display: flex;
  flex-direction: row;
  max-width: 30rem;
  margin: auto;
  /* background-color: blue; */
}

.answer_form .controls button {
  width: 100%;
  font-size: 25px;
  margin: 8px;
  padding: 4px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: rgba(165, 42, 42, 0.295);
}

@media screen and (min-width: 700px) {
  .answer_form {
    /* margin: auto;
        max */
    margin-left: 2rem;
    /* max-width: 80vw; */
  }
}
.hcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  width: 100%;
  /* bottom: 0; */
  /* height: 70%; */
  margin: auto;
  /* background-color: blue; */
}
.btn {
  width: 95%;
  font-size: 25px;
  margin: 8px;
  padding: 4px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: rgba(165, 42, 42, 0.295);
}
.instruction ul {
  margin-left: 01px;
}
.instruction {
  margin: 1px;
  padding: 1px;
}
.Timemodule {
  /* display: flex;
  color: rgb(255, 0, 0);
  justify-content: right;
  right: 50px; */
  position: absolute;
  color: rgb(255, 0, 0);
  width: 377.54px;
  /* height: 30px; */
  left: 270px;
  top: 158px;
}

.question.Questionno {
  color: aqua;
}
.listbox_leaderboard {
  position: absolute;
  /* left: 65%; */
  right: 20px;
  border: none;
  padding: 0px;
  font-size: 20px;
  color:rgb(4, 148, 88) ;

}
.listbox_leaderboard:hover{

  color:rgb(102, 0, 255) ;
}

.topContent .Opentab {
 
  padding: 9px 90px 5px 9px;
  
  
  font-size: 1.5rem;
  border-bottom: 5px solid red;
  
  

  text-decoration: none;
  position: absolute;
  float: right;
  right: 1%;
  top: 20%;
  opacity: 0;
  z-index: 1;

  
}
.Opentab:hover {
  opacity: 1;
}



.fullpage {
  position: absolute;
  height: 85%;
  width: 100%;
  background-color: white;
}
.sidecontainer_Viewscore {
  background-color: aqua;
  height: 100%;
  width: 20%;
}

.sidecontainer_Viewscore :hover .inner_Viewscore li {
  display: block;
}

.inner_Viewscore ul {
  position: absolute;
  margin-left: 0%;
  margin-top: 5%;
  width: 20%;
  text-decoration: none;
  list-style-type: none;
}
.inner_Viewscore li {
  margin-top: 10px;
  list-style-type: none;

  width: 100%;
}

.inner_Viewscore li button {
  font-size: 1.5em;
  border-style: none;
  width: 100%;
  padding: 5px 10px;

  background-color: aqua;
}

.inner_Viewscore li button :visited {
  background-color: #555;
  color: white;
}
.inner_Viewscore li :hover:not(.active) {
  background-color: #555;
  color: white;
  width: 100%;
}
.View_history {
  border-style: none;
  background-color: green;
  color: aliceblue;
  font-size: 1.5em;
  padding: 8px 20px;
  position: absolute;
  float: right;
  right: 80px;
  margin-top: 100px;
  z-index: 2;
}
.View_history:hover {
  font-size: 1.7em;
  color: white;
  text-shadow: rgb(255, 0, 0);
}
.View_container {
  width: 70%;
  position: absolute;
  margin-top: 15%;
  margin-left: 24%;
  height: 50%;
  overflow: auto;
  align-items: center;

  background-color: rgb(247, 190, 119);
}
.showtable_Viewscore {
  margin: 50px 20px;
  align-items: center;
}

.showtable_Viewscore table {
  margin-top: 50px;
}
.popclass{
  z-index: 5;
  background-color: blueviolet;
}
.innercontainer_mark{

  -ms-flex-item-align: auto;
  margin-left: 55vh;
  margin-top: 20vh;
  text-align: center;
  align-content: space-around;
  justify-content: center;
  color: aliceblue;
  padding:10px;
  
}

.innercontainer_mark:hover{
  box-shadow:0px 0px 15px 12px rgba(70, 209, 172, 0.458);
}
.yourScore{
  height: 100%;
  background-color: rgba(54, 54, 54, 0.173);
}
.L_img{

  float: left;
  margin-left: 10px;
}

.R_img{

  float: right;
  margin-right: 10px;
}
.LB_img{

  float: left;
  margin-left:0px;
  opacity: 0;
}
.RB_img{

  float: right;
  margin-Right:0px;
  opacity: 0;
}
.innercontainer_mark:hover .RB_img{
  opacity: 1;
}
.innercontainer_mark:hover .LB_img{
  opacity: 1;
}
.innercontainer_mark > .btn :hover{

  background-color: rgba(240, 248, 255, 0.33);
}


