.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    margin-left: 30rem;
    border-radius: 10px;
    height: 300px;
    width: 500px;
    justify-items: center;
    padding: 1rem;
    font-size: 1rem;
    /* max-width: 1em; */
    background-color: antiquewhite;
}

.login input {
    font-size: 1.5rem;
}

.login .btn {
    width: 90%;
    font-size: 25px;
    margin: 8px;
    padding: 4px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: rgba(165, 42, 42, 0.295);
}
.input_box{

    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: 20px;
    width: 350px;
    align-content: center;
    background-color: transparent;
    margin-left: 100px;
}
.drpdown_signup{
    border: none;
    font-size: 20px; 
    margin-left: 100px;
    background-color: transparent;
}
.termcheckbox{
    font-size: 30px;
}