.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    margin-left: 22rem;
    border-radius: 10px;
    height: 300px;
    width: 500px;
    justify-items: center;
    padding: 1rem;
    font-size: 1rem;
    /* max-width: 1em; */
    background-color: antiquewhite;
}

.login input {
    font-size: 1.5rem;
}

.login .btn {
    width: 90%;
    font-size: 25px;
    margin: 8px;
    padding: 4px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: rgba(165, 42, 42, 0.295);
}