.navbar {
  background-color: #2d2f3a;
  height: 84vh;
  width: 20%;
}

.menus a {
  text-decoration: none;
  color: inherit;
  font-size: 27px;
}
.menus li {
  margin-bottom: 10px;
}
.menus {
  color: white;
  margin-left: 25px;
}

.sub-menu {
  margin-left: 15px;
}
